# Auto detect text files and perform LF normalization
* text=auto


















































































































































































































































































































































































































You were attacked by me ！！！！！
